body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  display: flex;
}

.stage-list {
  flex: 3;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #404853;
  align-items: center;
  text-decoration: none;
  
}

.stage-list li {
  margin: 8px;
  padding: 4px;
  list-style-type: none;
}

.stage-list li .stage-contact-header {
  text-align: center;
  color: white;
}

.stage-contact {
  background-color: #1e2835;
}

